<p id="notice"><%= notice %></p>

<p>
  <b>Nacionalidad:</b>
  <%= @alumno.nacionalidad %>
</p>

<p>
  <b>Cedula:</b>
  <%= @alumno.cedula %>
</p>

<p>
  <b>Nombre:</b>
  <%= @alumno.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @alumno.apellido %>
</p>

<p>
  <b>Correo:</b>
  <%= @alumno.correo %>
</p>

<p>
  <b>Esta activo:</b>
  <%= @alumno.esta_activo %>
</p>


<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
