<h1>New nota</h1>

<%= simple_form_for @nota do |f| %>
    <%= f.association :alumno %>
    <%= f.association :evaluacione %>
    <%= f.input :nota, :collection => 1..10 %>
    <%= f.input :esta_activo %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Back', notas_path %>
