<h1>Listing inscripciones</h1>

<table>
  <tr>
    <th>Alumno</th>
    <th>Seccione</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @inscripciones.each do |inscripcione| %>
  <tr>
    <td><%= inscripcione.alumno_id %></td>
    <td><%= inscripcione.seccione_id %></td>
    <td><%= link_to 'Show', inscripcione %></td>
    <td><%= link_to 'Edit', edit_inscripcione_path(inscripcione) %></td>
    <td><%= link_to 'Destroy', inscripcione, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inscripcione', new_inscripcione_path %>
