<h1>New inscripcione</h1>

<%= simple_form_for @inscripcione do |f| %>
    <%= f.association :alumno %>
    <%= f.association :seccione %>
    <%= f.button :submit %>
<% end %>

<%= link_to 'Back', inscripciones_path %>
