<%= simple_form_for(@periodo) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.input :esta_abierto %>
    <%= f.input :esta_activo %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
