<h1>New seccione</h1>

<%= simple_form_for @seccione do |f| %>
   <%= f.input :nombre %>
   <%= f.association :curso %>
   <%= f.association :periodo %>
   <%= f.input :esta_activo %>
   <%= f.button :submit %>
<% end %>

<%= link_to 'Back', secciones_path %>
